*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
}
body{
    background-color: #3a3a3a;
}

.map{
    height: 80vh;
}
.map svg{
    height: 100%;
    position: relative;
    filter: drop-shadow(3px 3px 5px #3a3a3a);
    stroke-opacity: 1;
    animation: mapAni 1s;
}
.map path{
    fill: #FF6F91;
    transition: 0.5s;
    position: absolute;
}
/*.map path:hover{*/
/*    fill: #FFFFFF;*/
/*    stroke-width: 5px;*/
/*    color: black;*/
/*}*/
.title{
    font-size: 3em;
    margin-bottom: 30px;
    color: #FFFFFF;
    animation: textToDown 1s;
}
.location{
    font-size: 1.5em;
    color: #FFFFFF;
    animation: textToDown 1s;
}
.current{
    color: #FF6F91;
    font-weight: bolder;
}
@media screen and (max-width: 900px){
    .container{
        width: 90%;
        margin: auto;
        align-items: center;
        align-content: space-around;
        justify-content: space-around;
        flex-direction: column;
    }
    .title{
        font-size: 2em;
        margin-bottom: 15px;
    }
    .location{
        font-size: 1em;
    }

}

@keyframes mapAni {
    0%{
        transform: translateY(50px);
        stroke-opacity: 0.2;
        shape-margin: 10px;
        opacity: 0.1;
    }
    50%{
        stroke-opacity: 0.5;
        opacity: 0.5;
    }
    100%{
      stroke-opacity: 1;
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes textToDown {
   from{
       transform: translateY(-50px);
       opacity: 0.1;
   } to{

    transform: translateY(0);
    opacity: 1;

    }
}